<h1>Appointments</h1><br />

<h2>For short notice please call your appointment in.</h2>
<div id="tabbedContent">
<li>Bridgeport 203-372-1995</li>
<li>Stratford 203-375-9049</li>
<li>Stamford 203-921-1997</li>
<li>Norwalk 846-2995 Now Open!</li>
</div> <br />

No appointment is needed and brake service is performed while you wait.<br /><br />

<strong>It is my pleasure to personally set up your brake appointment or answer any brake questions you may have.
Your appointment or comments on the form is sent to my personal e-mail. Thank you for your brake business.</strong><br /><br />
Bill Pelletier - Owner <br /><br />


<br />
<fieldset id="make_an_appointment" class="">
	<legend>Make an Appointment</legend>

<% form_for :appointment, :url => {:action => "sendAppointment"} do |f|%>

<strong>Contact Info</strong><br />

<%= f.text_field :first %>
<%= f.label "First Name" %><br />

<%= f.text_field :last %>
<%= f.label "Last Name" %><br />

<%= f.text_field :addy %>
<%= f.label "Email" %><br />

<%= f.text_field :phone %>
<%= f.label "Daytime Phone (123-123-1234)" %><br /><br />

<strong>Car Information</strong><br />

<%= f.text_field :carinfo %>
<%= f.label "Vehicle Make, Model, Year" %><br /><br />

<strong>Service Info</strong><br />

<%= f.text_field :service %>
<%= f.label "Service Needed" %><br />

<%= f.text_field :location %>
<%= f.label "BCA Location" %><br />

<%= f.text_field :day %>
<%= f.label "Day of Service" %><br />

<%= f.text_field :time %>
<%= f.label "Time of Day Requested" %><br /><br />

<strong>Additional Comments</strong><br />

<%= f.text_area :body %><br />

<%= f.submit "Send" %>
<% end %>

</fieldset>