<h1>We want to know</h1>
<strong>Tell Us. How Did We Do?</strong><br /><br />
Was the level of service as promised?<br />
Post your comments here about your experience with Brake Centers/Tire Pro. We routinely add these comments to our <strong><%= link_to "Testimonials", :controller => 'site', :action => 'testimonials'%></strong> section.<br /><br /><br />

<fieldset id="" class="">
	<legend>Send Feedback</legend>	

<% form_for :mail, :url => {:action => "sendMail"} do |f|%>

<%= f.text_field :first %>
<%= f.label "First Name" %><br />

<%= f.text_field :last %>
<%= f.label "Last Name" %><br />

<%= f.text_field :addy %>
<%= f.label "Email" %><br /><br />

<%= f.label "Message" %><br />
<%= f.text_area :body %><br />

<%= f.submit "Send" %>
<% end %>

</fieldset>


